<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>관리자 시스템 로그</title>
    <link rel="stylesheet" href="../../../public/stylesheets/style.css" />
    <link rel="stylesheet" href="../../../public/stylesheets/semantic.min.css" />

    <script type="text/javascript" src="../../../public/scripts/lib/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="../../../public/scripts/lib/semantic.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui-calendar/0.0.8/calendar.min.js"></script>
    
    <script type="text/javascript" src="../../../public/scripts/calendar.js"></script>
    <script type="text/javascript" src="../../../public/scripts/admin.js"></script>
</head>
<body>
    <header id="header" include-html="/views/header.html"></header>
    <nav id="snb" include-html="/views/nav.html"></nav>

    <div id="content">
        <h3 class="ui header underline">
            <div class="content">관리자 시스템 로그</div>
            <!-- <div class="sub header">관리자 시스템 로그를 조회하는 페이지입니다</div> -->
        </h3>        
        <table class="ui eight column table">
            <tbody>
              <tr>
                <td class="light_gray">이름</td>
                <td>aa</td>
                <td class="light_gray">전화번호</td>
                <td>aa</td>
                <td class="light_gray">ID</td>
                <td>aa</td>
                <td class="light_gray">등급</td>
                <td>aa</td>
              </tr>
              <tr>
                <td class="light_gray">가입일</td>
                <td>aa</td>
                <td class="light_gray">탈퇴일</td>
                <td>aa</td>
                <td class="light_gray">상태</td>
                <td>aa</td>
                <td class="light_gray">최근 접속일시</td>
                <td>aa</td>
              </tr>
            </tbody>
        </table>        
        <!-- 시스템 로그 표 -->
        <h3 class="ui horizontal divider header">
            <i class="file alternate outline icon"></i>
            시스템 로그
        </h3>
        <div class="right_floated">
            <div class="ui calendar clear_block" id="start_date">
                <div class="ui input left icon">
                    <i class="calendar icon"></i>
                    <input type="text" placeholder="기준 시작일" name="date" class="short_input_date" autocomplete="off" value="">
                </div>
            </div>
            <label>~</label>
            <div class="ui calendar clear_block" id="end_date">
                <div class="ui input left icon">
                    <i class="calendar icon"></i>
                    <input type="text" placeholder="기준 종료일" name="date" class="short_input_date" autocomplete="off" value="">
                </div>
            </div>
            <button class="ui blue button left_margin">조회하기</button>
        </div>
        <div class="table_container" style="margin-top:65px;">
            <table class="ui celled table">
                <thead>
                <tr><th>No.</th>
                <th>일시</th>
                <th>페이지</th>
                <th>대상</th>
                <th>처리</th>
                <th>결과</th>
                </tr></thead>
                <tbody>
                <tr>
                    <td data-label="index">2</td>
                    <td data-label="date">2022.01.12 19:20:00</td>
                    <td data-label="page">인증 심사 관리</td>
                    <td data-label="target">회원명 (닉네임)</td>
                    <td data-label="action">변경</td>
                    <td data-label="result">성공</td>
                </tr>
                <tr>
                    <td data-label="index">1</td>
                    <td data-label="date">2022.01.12 19:20:00</td>
                    <td data-label="page">비밀번호 변경</td>
                    <td data-label="target">관리자 (ID)</td>
                    <td data-label="action">변경</td>
                    <td data-label="result">성공</td>
                </tr>              
            </tbody>
          </table>  
        </div>      
    </div>
 
    
</body>
<script>
    $("#header").load("../../../views/header.html");
    $("#snb").load("../../../views/nav.html"); 
</script>
</html>