<div class="ui vertical accordion menu clear_back clear_border">
  <!-- 계정, 로그인, 로그아웃 버튼 추가 -->
  <div class="ui card clear_margin">
      <div class="content">
          <div class="content">
              계정 권한 명칭
          </div>
          <div class="meta">
              ID
          </div>
      </div>
      <div class="extra content">
          <div class="ui two buttons">
              <a href="/RichAndBeautyViewPages/views/info/reset_password.html" class="ui blue button">INFO</a>
              <div class="or"></div>
              <div class="ui grey button">LOGOUT</div>
          </div>
      </div>
  </div>
  <!-- 계정관리 -->
  <div class="item">
    <a class="title">
      <i class="dropdown icon"></i>
      계정관리
    </a>
    <div class="content">
      <div class="ui form">
        <div class="grouped fields">
          <a href="/RichAndBeautyViewPages/views/account/member/list.html" class="nav_btn">
            회원 관리
          </a>
          <a href="/RichAndBeautyViewPages/views/account/admin/list.html" class="nav_btn">
            관리자 계정
          </a>
        </div>
      </div>
    </div>
  </div>
  <!-- 인증/심사 관리 -->
  <div class="item">
      <a class="title">
        <i class="dropdown icon"></i>
        인증/심사 관리
      </a>
      <div class="content">
        <div class="ui form">
          <div class="grouped fields">
            <a href="/RichAndBeautyViewPages/views/certification/pending.html" class="nav_btn">
              대기
            </a>
            <a href="/RichAndBeautyViewPages/views/certification/rejection.html" class="nav_btn">
              부결
            </a>            
          </div>
        </div>
      </div>
  </div>
  <!-- 매치이력 -->
  <div class="item">
      <a class="title">
        <i class="dropdown icon"></i>
        매치이력
      </a>
      <div class="content">
        <div class="ui form">
          <div class="grouped fields">
            <a href="/RichAndBeautyViewPages/views/match/list.html" class="nav_btn">
              매치이력
            </a>
          </div>
        </div>
      </div>
  </div>
  <!-- 파티 -->
  <div class="item">
      <a class="title">
        <i class="dropdown icon"></i>
        파티
      </a>
      <div class="content">
        <div class="ui form">
          <div class="grouped fields">
            <a href="/RichAndBeautyViewPages/views/party/list.html" class="nav_btn">
              파티
            </a>
          </div>
        </div>
      </div>
  </div>
  <!-- 라운지 -->
  <div class="item">
      <a class="title">
        <i class="dropdown icon"></i>
        라운지
      </a>
      <div class="content">
        <div class="ui form">
          <div class="grouped fields">
            <a href="#" class="nav_btn">menu1</a>
          </div>
        </div>
      </div>
  </div> 
  <!-- 고객센터 -->
  <div class="item">
      <a class="title">
        <i class="dropdown icon"></i>
        고객센터
      </a>
      <div class="content">
        <div class="ui form">
          <div class="grouped fields">
            <a href="/RichAndBeautyViewPages/views/cs/report/list.html" class="nav_btn">
              신고
            </a>
            <a href="/RichAndBeautyViewPages/views/cs/qna/list.html" class="nav_btn">
              문의내역
            </a>
            <a href="/RichAndBeautyViewPages/views/cs/notice/list.html" class="nav_btn">
              공지사항
            </a>
            <a href="/RichAndBeautyViewPages/views/cs/forbidden/list.html" class="nav_btn">
              금지단어
            </a>                           
          </div>
        </div>
      </div>
  </div>  
   <!-- 푸시  -->
  <div class="item">
      <a class="title">
        <i class="dropdown icon"></i>
        PUSH
      </a>
      <div class="content">
        <div class="ui form">
          <div class="grouped fields">
            <a href="/RichAndBeautyViewPages/views/push/send_push.html" class="nav_btn">PUSH 전송</a>
          </div>
        </div>
      </div>
  </div>
  <!-- 캐시/쿠폰 -->
  <div class="item">
    <a class="title">
      <i class="dropdown icon"></i>
      캐시/쿠폰
    </a>
    <div class="content">
      <div class="ui form">
        <div class="grouped fields">
          <a href="#" class="nav_btn">캐시 지급/관리</a>
          <a href="#" class="nav_btn">캐시 내역</a>
          <a href="#" class="nav_btn">쿠폰 지급/관리</a>
        </div>
      </div>
    </div>
  </div>
  <!-- 유료 서비스 관리 -->
  <div class="item">
    <a class="title">
      <i class="dropdown icon"></i>
      유료 서비스 관리
    </a>
    <div class="content">
      <div class="ui form">
        <div class="grouped fields">
          <a href="#" class="nav_btn">menu1</a>
        </div>
      </div>
    </div>
  </div> 
  <!-- 매칭 관리 -->
  <div class="item">
    <a class="title">
      <i class="dropdown icon"></i>
      매칭 관리
    </a>
    <div class="content">
      <div class="ui form">
        <div class="grouped fields">
          <a href="#" class="nav_btn">menu1</a>
        </div>
      </div>
    </div>
  </div>   
  <!-- 통계 -->
  <div class="item">
    <a class="title">
      <i class="dropdown icon"></i>
      통계
    </a>
    <div class="content">
      <div class="ui form">
        <div class="grouped fields">
          <a href="#" class="nav_btn">menu1</a>
        </div>
      </div>
    </div>
  </div>   
</div>
<script>
  $('.ui.accordion').accordion();
</script>