<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>비밀번호 재설정</title>
    <link rel="stylesheet" href="../public/stylesheets/style.css" />
    <link rel="stylesheet" href="../public/stylesheets/semantic.min.css" />

    <script type="text/javascript" src="../public/scripts/lib/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="../public/scripts/lib/semantic.min.js"></script>

    <script type="text/javascript" src="../public/scripts/common.js"></script>
</head>

<body>
    <div id="login_container" class="ui secondary inverted blue segment">
        <div class="ui icon header">
            <i class="settings icon"></i>
            <h2>Rich & Beauty Admin</h2>
        </div>
        <div>
            <h3>아이디 표시란</h3>
        </div>
        <div class="gap">
            <div class="ui large icon input">
                <i class="lock icon"></i>
                <input type="password" placeholder="새 비밀번호">
            </div>
        </div>
        <div class="gap">
            <div class="ui large icon input">
                <i class="lock icon"></i>
                <input type="password" placeholder="비밀번호 재확인">
            </div>
        </div>
        <a href="../views/main.html" id="login_btn" class="ui button">확인</a>
    </div>
</body>
</html>