<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>비밀번호 변경</title>
    <link rel="stylesheet" href="../../public/stylesheets/style.css" />
    <link rel="stylesheet" href="../../public/stylesheets/semantic.min.css" />

    <script type="text/javascript" src="../../public/scripts/lib/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="../../public/scripts/lib/semantic.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui-calendar/0.0.8/calendar.min.js"></script>
    
    <script type="text/javascript" src="../../public/scripts/common.js"></script>
    <script type="text/javascript" src="../../public/scripts/admin.js"></script>
</head>
<body>
    <header id="header" include-html="/views/header.html"></header>
    <nav id="snb" include-html="/views/nav.html"></nav>

    <div id="content">
        <h3 class="ui header underline">
            <div class="content">비밀번호 변경</div>
        </h3> 
        <div class="ui blue segment">
            <div class="ui labeled fluid input">
                <div class="ui label">
                  현재 비밀번호
                </div>
                <input type="password" placeholder="현재 사용 중인 비밀번호를 입력해주세요">
            </div><br>
            <div class="ui labeled fluid input">
                <div class="ui blue label">
                  변경 비밀번호
                </div>
                <input type="password" placeholder="변경할 비밀번호를 입력해주세요">
            </div><br>
            <div class="ui labeled fluid input">
                <div class="ui blue label">
                  비밀번호 확인
                </div>
                <input type="password" placeholder="변경 비밀번호 재확인">
            </div>  
            <div class="clear_floated top_gap">
                <button class="ui right floated button left_margin">취소</button>
                <button class="ui right floated green button">변경</button>
            </div>                                  
        </div>
    </div>
</body>
<script>
    $("#header").load("../../views/header.html");
    $("#snb").load("../../views/nav.html"); 
</script>
</html>