/* 기본 스타일 속성 초기화 */
* { margin:0; padding:0; }
li { list-style:none; }
a { text-decoration:none;cursor:pointer; }
i { font-style:normal; }

body { background: url('/public/images/bg.png')!important; }

/* semantic UI 기본 속성 제거 */
.clear_margin { margin: 0!important; }
.clear_back { background: none!important; }
.clear_border { border:0!important}
.clear_block { display:inline-block!important; }

/* float */
.right_floated { float: right; }
.clear_floated { overflow: hidden; }
.clear_floated.bottom_gap { margin-bottom:1em; }
.clear_floated.top_gap { margin-top:1em; }

/* component color */
.key_color { background: rgb(33, 133, 208); }
.sky_blue { background: rgba(33, 133, 208, .1); }
.light_red { background: rgba(255, 84, 115, .1); }
.light_gray { background: #ebebeb;}

/* font color */
.white { color:#ffffff; }

/* header */
#header { width:100%; padding:1.5em 1em; background: rgba(33, 133, 208, .98); position:fixed; left:0; top:0; z-index:10; }

/* snb */
#snb { width:208px; box-sizing:border-box; position: fixed; left:0; top:63px; height:100%; background: #fafafa; border-right: 1px solid #ebebeb; z-index: 10;}
a.nav_btn { display: inline-block; padding:8px 0; width:100%; color:#000000; font-weight: 600; }

/* content */
#content { margin:100px 40px 0 240px; }
#detail_content { margin:62px 0 0 220px;background:#ffffff;}

/* segment, card, section */
.num_card { min-height:100px; text-align: center; line-height: 100px; font-weight: bolder; }
.num_card.medium { font-size:1.2em; }
.num_card.large { font-size:1.8em; }

.fixed_content {  padding: 37px 0 0 20px; width:calc(100% - 208px - 50px); position: fixed!important; background:#ffffff; z-index: 20; }
.scroll_content { padding: 410px 38px 2em 20px; }
.self_intro_box { margin:1em 0 0 6px;padding:1em;border:3px solid#ebebeb; }
.self_intro_box p { padding:0.8em 0;font-size:13px; }

#login_container { margin:10em auto 0 auto; padding: 4em 0; width:500px; text-align: center; }

/* title */
h3.ui.header.underline { padding:0 0 10px 0;border-bottom:1px solid #d4d4d4; }
h2.center { text-align:center; }

/* dropdown */
div.ui.selection.dropdown.right_gap { margin-right: 0.5em; }

/* image */
.profile { border-radius:8px; border:3px solid #ebebeb; }

/* slick slider */
div.container {display:inline-block;margin:0 auto;width:600px!important;border:4px solid #ebebeb; background:red; text-align:center; }
.container > img { width:100%; }

/* input */
.ui.input.note { width:100%!important; }
#login_container div.gap { margin:.5em 0 .5em 0; }
input#title { width:90%; padding:1em; border:0; }
input#title:focus { outline: none; }

/* popup */
body.popup_container { padding:2em; }
body.popup_container div.card { padding-bottom:4em; }

/* table */
#popup_table { margin:1em 0 0 6px;width:100%;font-size:13px;border-top:2px solid #ebebeb;border-bottom:2px solid #ebebeb; }
#popup_table td { padding:1em; }
#popup_table td:nth-child(2n-1) { background: #ebebeb; }
.table_container { margin-top:20px;width:100%;height:400px!important;overflow:auto; }
tr.none { display:none; }
td div.min_cnt_height { min-height: 350px!important}
#admin_table { padding:1em;background:rgba(250, 244, 235, .5) }


/* label */
.popup_container .ui.label { margin-bottom:10px; }

/* textarea */
.popup_container div.field textarea { margin-top:10px; }
#qna_reply { padding:2px;width:100%;height:8em;border:none;resize:none; }
#editor { width:90%;min-height:500px; }

/* calendar */
input.short_input_date { width:150px!important; }

/* button */
#login_btn { width:230px;margin-left:4px; }
button.none { display:none!important; }

/* chart */
#bar_chart { max-height:300px }