<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>파티 상세보기</title>
    <link rel="stylesheet" href="../../public/stylesheets/style.css" />
    <link rel="stylesheet" href="../../public/stylesheets/semantic.min.css" />

    <script type="text/javascript" src="../../public/scripts/lib/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="../../public/scripts/lib/semantic.min.js"></script>
    
    <script type="text/javascript" src="../../public/scripts/common.js"></script>
    <script type="text/javascript" src="../../public/scripts/match.js"></script>
</head>
<body class="popup_container">
    <div class="ui raised clearing yellow segment">
        <div class="clear_floated">
            <div class="right_floated">
                <button class="ui red button">파티종료</button>
                <button class="ui button close">닫기</button>
            </div>
        </div>
        <table class="ui four column table">
            <tbody>
              <tr>
                <td class="light_gray">회원정보</td>
                <td>
                  <a class="nickname member" href="../../views/party/popup/member_detail.html">홍길동<br>(닉네임)</a>
                </td>
                <td class="light_gray">성별/휴대폰번호</td>
                <td>여 / 010-1111-1111</td>
              </tr>
              <tr>
                <td class="light_gray">등록 일시</td>
                <td>2022.03.01 11:13:00</td>
                <td class="light_gray">파티 구분</td>
                <!-- 진행중 / 종료 상태 구분 처리-->
                <td class="sky_blue bold_blue">
                    <i class="calendar check outline icon"></i>
                    진행 중
                </td>
              </tr>
            </tbody>
        </table>
        <!-- 사진 내용 -->
        <div class="ui placeholder segment">
            <div class="ui two column stackable center aligned grid">
              <div class="ui vertical divider">
                  <i class="thumbtack icon"></i>
              </div>
              <div class="middle aligned row">
                <div class="column">
                    <img src="https://semantic-ui.com/images/avatar2/large/molly.png" width="300" height="300"/>
                </div>
                <div class="column">
                    <div class="limit_container">
                        오늘 학동역에서 같이 와인 한 잔 할 사람있나요
                        오늘 학동역에서 같이 와인 한 잔 할 사람있나요
                        오늘 학동역에서 같이 와인 한 잔 할 사람있나요
                        오늘 학동역에서 같이 와인 한 잔 할 사람있나요
                    </div>
                </div>
              </div>
            </div>
        </div>

        <table class="ui four column table">
            <tbody>
              <tr>
                <td class="light_gray">파티 참가자</td>
                <td>
                    <ul class="limit_container small">
                        <li>
                            <a class="nickname member">김지현 (010-1234-1234)</a>
                        </li>
                        <li>
                            <a class="nickname member">김완응 (010-1111-1111)</a>
                        </li>
                    </ul>
                </td>
                <td class="light_gray">좋아요</td>
                <td>
                    <ul class="limit_container small">
                        <li>
                            <a class="nickname member" href="#">김지현 (010-1234-1234)</a>
                        </li>
                        <li>
                            <a class="nickname member" href="#">김완응 (010-1111-1111)</a>
                        </li>
                    </ul>
                </td>              
              </tr>
            </tbody>
          </table>          
    </div>

      
</body>
</html>