<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>학교 인증</title>
    <link rel="stylesheet" href="../../../public/stylesheets/style.css" />
    <link rel="stylesheet" href="../../../public/stylesheets/semantic.min.css" />
</head>
<body class="popup_container">
    <h4>학교 인증</h4>
    <div class="card">
        <div class="image">
        <img src="https://semantic-ui.com/images/wireframe/image.png" width="700px"/>
        </div>
        <h4 class="ui header">
            <i class="graduation cap icon"></i>
            변경 전 학교(학력) 내용 : 
        </h4>
        <div class="extra content">기존 학교 관련 내용 출력되는 곳</div>
        <h4 class="ui header">
            <i class="graduation cap icon"></i>
            변경 요청 학교명 : 
        </h4>
        <div class="extra content">회원이 입력한 학력 관련 내용 출력되는 곳</div>
    </div>
</body>
</html>