<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원 상세 정보</title>
    <link rel="stylesheet" href="../../../public/stylesheets/style.css" />
    <link rel="stylesheet" href="../../../public/stylesheets/semantic.min.css" />

    <script type="text/javascript" src="../../../public/scripts/lib/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="../../../public/scripts/lib/semantic.min.js"></script>

    <script type="text/javascript" src="../../../public/scripts/common.js"></script>
</head>

<body>
    <header id="header" include-html="/views/header.html"></header>
    <nav id="snb" include-html="/views/nav.html"></nav>
    <div id="detail_content">
        <div class="fixed_content">
            <h3 class="ui header underline">
                <div class="ui horizontal clear_floated">
                    <div class="content">회원 상세 정보</div>
                    <div class="right_floated">
                        <button class="ui button tiny paid">유료내역</button>
                        <button class="ui button tiny restriction">이용제한</button>
                        <button class="ui button tiny counseling">상담이력</button>
                    </div>
                </div>
            </h3>

            <table class="ui eight column small table">
                <tbody>
                    <tr>
                        <td class="sky_blue">회원명</td>
                        <td>aa</td>
                        <td class="sky_blue">전화번호</td>
                        <td>aa</td>
                        <td class="sky_blue">생년월일</td>
                        <td>aa</td>
                        <td class="sky_blue">유입경로</td>
                        <td>aa</td>
                    </tr>
                    <tr>
                        <td class="sky_blue">누적 매치횟수<br>보낸/받은/매칭</td>
                        <td>aa</td>
                        <td class="sky_blue">인증/심사요청</td>
                        <td>aa</td>
                        <td class="sky_blue">상태</td>
                        <td>aa</td>
                        <td class="sky_blue">Device</td>
                        <td>aa</td>
                    </tr>
                    <tr>
                        <td class="sky_blue">누적 결제금액<br>(보유캐시)</td>
                        <td>aa</td>
                        <td class="sky_blue">인증/심사<br>승인 및 요청</td>
                        <td>aa</td>
                        <td class="sky_blue">누적 신고횟수</td>
                        <td>aa</td>
                        <td class="sky_blue">App Version</td>
                        <td>aa</td>
                    </tr>
                    <tr>
                        <td class="sky_blue">가입일시</td>
                        <td>aa</td>
                        <td class="sky_blue">최근 접속일시</td>
                        <td>aa</td>
                        <td class="sky_blue">탈퇴일시</td>
                        <td>aa</td>
                        <td class="sky_blue">재가입 여부</td>
                        <td>aa</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- 스크롤 영역 -->
        <div class="scroll_content">
            <h4 class="ui header">능력심사 프로필</h4>
            <h5 class="ui header">프로필 사진</h5>
            <div class="ui grid">
                <div class="doubling six column row">
                    <a class="column profile_img">
                        <img class="profile" src="https://semantic-ui.com/images/avatar/large/elliot.jpg" />
                    </a>
                    <a class="column profile_img">
                        <img class="profile" src="https://semantic-ui.com/images/avatar/large/elliot.jpg" />
                    </a>
                    <a class="column profile_img">
                        <img class="profile" src="https://semantic-ui.com/images/avatar/large/elliot.jpg" />
                    </a>
                    <a class="column profile_img">
                        <img class="profile" src="https://semantic-ui.com/images/avatar/large/elliot.jpg" />
                    </a>
                    <a class="column profile_img">
                        <img class="profile" src="https://semantic-ui.com/images/avatar/large/elliot.jpg" />
                    </a>
                    <a class="column profile_img">
                        <img class="profile" src="https://semantic-ui.com/images/avatar/large/elliot.jpg" />
                    </a>
                </div>
            </div>
            <h5 class="ui header">보유 뱃지</h5>
            <div class="ui grid">
                <div class="doubling eight column row">
                    <a class="column badge">
                        <img class="profile" src="https://semantic-ui.com/images/wireframe/white-image.png" />
                        <!-- <div class="ui red label">60억원</div> -->
                    </a>
                    <a class="column badge">
                        <img class="profile" src="https://semantic-ui.com/images/wireframe/white-image.png" />
                        <!-- <div class="ui red label">60억원</div> -->
                    </a>
                    <a class="column badge">
                        <img class="profile" src="https://semantic-ui.com/images/wireframe/white-image.png" />
                    </a>
                    <a class="column badge">
                        <img class="profile" src="https://semantic-ui.com/images/wireframe/white-image.png" />
                    </a>
                </div>
            </div>
            <!-- 정보 표 -->
            <table class="ui eight column table">
                <tbody>
                    <tr>
                        <td class="light_gray">닉네임</td>
                        <td>aa</td>
                        <td class="light_gray">직업</td>
                        <td>aa</td>
                        <td class="light_gray">제목</td>
                        <td>aa</td>
                        <td class="light_gray">제목</td>
                        <td>aa</td>
                    </tr>
                    <tr>
                        <td class="light_gray">나이</td>
                        <td>aa</td>
                        <td class="light_gray">지역</td>
                        <td>aa</td>
                        <td class="light_gray">제목</td>
                        <td>aa</td>
                        <td class="light_gray">제목</td>
                        <td>aa</td>
                    </tr>
                    <tr>
                        <td class="light_gray">학력</td>
                        <td>aa</td>
                        <td class="light_gray">키</td>
                        <td>aa</td>
                        <td class="light_gray">흡연</td>
                        <td>aa</td>
                        <td class="light_gray">관심사</td>
                        <td>aa</td>
                    </tr>
                </tbody>
            </table>
            <!-- 자기소개 -->
            <h5 class="ui header">자기소개</h5>
            <div class="ui raised segment">
                <p>회원이 입력한 자기소개 내용이 표시되는 곳<br>
                    회원이 입력한 자기소개 내용이 표시되는 곳
                </p>
            </div>
            <div class="ui green segment">
                <h3 class="ui header">인증/심사 관리</h3>
                <div class="ui horizontal">
                    <div class="ui selection dropdown right_gap">
                        <input type="hidden" name="gender">
                        <i class="dropdown icon"></i>
                        <!-- <div class="default text">구분</div> -->
                        <div class="text">전체</div>
                        <div class="menu">
                            <div class="item active selected" data-value="0">전체</div>
                            <div class="item" data-value="1">대기</div>
                            <div class="item" data-value="2">승인</div>
                            <div class="item" data-value="3">부결</div>
                        </div>
                    </div>
                    <div class="right_floated">
                        <a class="ui tiny green button">수정</a>
                        <a class="ui tiny blue button">승인</a>
                        <a class="ui tiny red button">부결</a>
                    </div>
                </div>
                <table class="ui celled table">
                    <thead>
                        <tr>
                            <th>
                                <div class="ui checkbox">
                                    <input type="checkbox" name="check_all">
                                    <label></label>
                                </div>
                            </th>
                            <th>요청 일시</th>
                            <th>요청 항목</th>
                            <th>증빙 자료</th>
                            <th>담당자</th>
                            <th>결과</th>
                            <th>특이사항</th>
                            <th>부결사유</th>
                            <th>처리일시</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td data-label="checkbox">
                                <div class="ui checkbox">
                                    <input type="checkbox" name="check">
                                    <label></label>
                                </div>
                            </td>
                            <td data-label="certified_date">2021.01.12<br>17:05:10</td>
                            <td data-label="certified_type">직장 인증</td>
                            <td data-label="detail">
                                <a class="ui green inverted mini button profile_confirm">보기</a>
                            </td>
                            <td data-label="charge">홍길동<br>(아이디 표시)</td>
                            <td data-label="result">대기</td>
                            <td data-label="special_note">
                                <div class="ui input note">
                                    <input type="text" placeholder="특이사항을 입력해주세요">
                                </div>
                            </td>
                            <td data-label="reason">
                                <div class="ui dropdown">
                                    <div class="text">부결 사유 선택</div>
                                    <i class="dropdown icon"></i>
                                    <div class="menu">
                                        <div class="item">관련 없는 사진 제출</div>
                                        <div class="item">뱃지 기준 부적합</div>
                                        <div class="item">증빙자료 명의자 불일치</div>
                                        <div class="item">본인 여부 재확인 필요</div>
                                        <div class="item">사진 식별 불가</div>
                                        <div class="item">욕설 또는 금지단어</div>
                                        <div class="item">불가능한 자료 제출</div>
                                        <div class="item">내부 심사 기준 부적합</div>
                                    </div>
                                </div>
                            </td>
                            <td data-label="confirm_date">2021.01.13<br>13:15:10</td>
                        </tr>
                        <tr>
                            <td data-label="checkbox">
                                <div class="ui checkbox">
                                    <input type="checkbox" name="check">
                                    <label></label>
                                </div>
                            </td>
                            <td data-label="certified_date">2021.01.12<br>17:05:10</td>
                            <td data-label="certified_type">직장 인증</td>
                            <td data-label="detail">
                                <a class="ui green inverted mini button academic">보기</a>
                            </td>
                            <td data-label="charge">홍길동<br>(아이디 표시)</td>
                            <td data-label="result">대기</td>
                            <td data-label="special_note">
                                <div class="ui input note">
                                    <input type="text" placeholder="특이사항을 입력해주세요">
                                </div>
                            </td>
                            <td data-label="reason">
                                <div class="ui dropdown">
                                    <div class="text">부결 사유 선택</div>
                                    <i class="dropdown icon"></i>
                                    <div class="menu">
                                        <div class="item">관련 없는 사진 제출</div>
                                        <div class="item">뱃지 기준 부적합</div>
                                        <div class="item">증빙자료 명의자 불일치</div>
                                        <div class="item">본인 여부 재확인 필요</div>
                                        <div class="item">사진 식별 불가</div>
                                        <div class="item">욕설 또는 금지단어</div>
                                        <div class="item">불가능한 자료 제출</div>
                                        <div class="item">내부 심사 기준 부적합</div>
                                    </div>
                                </div>
                            </td>
                            <td data-label="confirm_date">2021.01.13<br>13:15:10</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
<script>
    $("#header").load("../../../views/header.html");
    $("#snb").load("../../../views/nav.html");
</script>

</html>