<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>본인 인증</title>
    <link rel="stylesheet" href="../../../public/stylesheets/style.css" />
    <link rel="stylesheet" href="../../../public/stylesheets/semantic.min.css" />
</head>
<body class="popup_container">
    <h4>본인 인증</h4>
    <div class="ui segment">
        <div class="ui two column very relaxed grid">
          <div class="column">
              <div class="ui large label">인증 포즈 예시</div>
              <img src="https://semantic-ui.com/images/avatar2/large/elyse.png" width="100%"/>
          </div>
          <div class="column">
            <div class="ui large label">회원 제출 사진</div>
            <img src="https://semantic-ui.com/images/avatar/large/elliot.jpg" width="100%"/>
          </div>
        </div>
        <div class="ui vertical divider">AND</div>
    </div>
</body>
</html>