<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>직장 인증</title>
    <link rel="stylesheet" href="../../../public/stylesheets/style.css" />
    <link rel="stylesheet" href="../../../public/stylesheets/semantic.min.css" />
</head>

<body class="popup_container">
    <h4>직장 인증</h4>
    <div class="card">
        <div class="image">
            <img src="https://semantic-ui.com/images/wireframe/image.png" width="700px" />
        </div>
        <h4 class="ui header">
            <i class="hand point right icon"></i>
            변경 전 직장 내용 :
        </h4>
        <div class="extra content">기존 직장 관련 내용 출력되는 곳</div>
        <h4 class="ui header">
            <i class="hand point right outline icon"></i>
            변경 요청 직장명 :
        </h4>
        <div class="extra content">회원이 입력한 신규 직장 관련 내용 출력되는 곳</div>
    </div>
</body>

</html>