<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>프로필 심사</title>
    <link rel="stylesheet" href="/public/stylesheets/style.css" />
    <link rel="stylesheet" href="/public/stylesheets/slick.css"/>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>

    <script type="text/javascript" src="/public/scripts/lib/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
</head>
<body>
    <div id="page">
        <div class="row">
            <div class="column small-11 small-centered">
                <h4>프로필 심사</h4>
                <div class="slider slider-single">
                    <div><h3>1</h3></div>
                    <div><h3>2</h3></div>
                    <div><h3>3</h3></div>
                    <div><h3>4</h3></div>
                    <div><h3>5</h3></div>
                    <div><h3>6</h3></div>
                </div>
                <div class="slider slider-nav">
                    <div><h3><span>1</span></h3></div>
                    <div><h3><span>2</span></h3></div>
                    <div><h3><span>3</span></h3></div>
                    <div><h3><span>4</span></h3></div>
                    <div><h3><span>5</span></h3></div>
                    <div><h3><span>6</span></h3></div>
                </div>
            </div>
        </div>
    </div>
    <table id="popup_table">
        <tbody>
            <tr>
                <td>닉네임</td>
                <td>aaa</td>
                <td>직업</td>
                <td>aaa</td>
                <td>체형</td>
                <td>aaa</td>
                <td>음주</td>
                <td>aaa</td>
            </tr>
            <tr>
                <td>나이</td>
                <td>aaa</td>
                <td>지역</td>
                <td>aaa</td>
                <td>종교</td>
                <td>aaa</td>
                <td>성격</td>
                <td>aaa</td>
            </tr>
            <tr>
                <td>학력</td>
                <td>aaa</td>
                <td>키</td>
                <td>aaa</td>
                <td>흡연</td>
                <td>aaa</td>
                <td>관심사</td>
                <td>aaa</td>
            </tr>            
        </tbody>
    </table>
    <div class="self_intro_box">
        <h5>자기소개</h5>
        <p>회원이 등록한 자기소개 내용이 표시되는 곳<br>회원이 등록한 자기소개 내용이 표시되는 곳<br>회원이 등록한 자기소개 내용이 표시되는 곳</p>
    </div>
</body>
<script type="text/javascript" src="/public/scripts/slick.js"></script>
</html>