<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PUSH 전송</title>
    <link rel="stylesheet" href="../../public/stylesheets/style.css" />
    <link rel="stylesheet" href="../../public/stylesheets/semantic.min.css" />

    <script type="text/javascript" src="../../public/scripts/lib/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="../../public/scripts/lib/semantic.min.js"></script>

    <script type="text/javascript" src="../../public/scripts/common.js"></script>
    <script type="text/javascript" src="../../public/scripts/push.js"></script>
</head>

<body>
    <header id="header" include-html="/views/header.html"></header>
    <nav id="snb" include-html="/views/nav.html"></nav>

    <div id="content">
        <h3 class="ui header underline">
            <div class="content">PUSH 전송 (12,345건)</div>
        </h3>
        <div class="ui horizontal">
            <div class="right_floated">
                <div class="ui selection dropdown right_gap">
                    <input type="hidden" name="gender">
                    <i class="dropdown icon"></i>
                    <div class="default text">구분</div>
                    <div class="menu">
                        <div class="item" data-value="0">전체</div>
                        <div class="item" data-value="1">예약</div>
                        <div class="item" data-value="2">즉시</div>
                    </div>
                </div>
                <button class="ui blue button right_margin">검색</button>
                <a href="../../views/push/send_push.html" class="ui orange button">PUSH 전송</a>
            </div>
        </div>
        <table class="ui celled padded table list" style="margin-top:65px">
            <thead>
                <tr>
                    <th class="single line">등록번호</th>
                    <th>발송일시</th>
                    <th>발송인원수</th>
                    <th>발송구분</th>
                    <th>푸시제목</th>
                    <th>성공여부</th>
                    <th>등록자</th>
                    <th>등록일시</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>2</td>
                    <td>2022.01.23 13:13:10</td>
                    <td>1</td>
                    <td>즉시</td>
                    <td>새로운 매칭 안내</td>
                    <td>
                        <i class="close large icon"></i>
                    </td>
                    <td>정다은 (ID)</td>
                    <td>2022.03.02 16:12:10</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>2022.01.22 13:13:10</td>
                    <td>1</td>
                    <td>예약</td>
                    <td>새로운 매칭 안내</td>
                    <td>
                        <i class="check circle blue large icon"></i>
                    </td>
                    <td>정다은 (ID)</td>
                    <td>2022.03.02 16:12:10</td>
                </tr>
            </tbody>
            <!-- pagination -->
            <tfoot>
                <tr>
                    <th colspan="11">
                        <div class="ui right floated pagination menu">
                            <a class="icon item">
                                <i class="left chevron icon"></i>
                            </a>
                            <a class="item">1</a>
                            <a class="item">2</a>
                            <a class="item">3</a>
                            <a class="item">4</a>
                            <a class="icon item">
                                <i class="right chevron icon"></i>
                            </a>
                        </div>
                    </th>
                </tr>
            </tfoot>
        </table>
    </div>
</body>
<script>
    $("#header").load("../../views/header.html");
    $("#snb").load("../../views/nav.html");
</script>

</html>